@font-face {
    font-family: 'anoeyfuturamerlincommedium';
    src: url(f/anoeyfuturamerlincom2.61.eot);
    src: url(f/anoeyfuturamerlincom2.61.eot?#iefix) format("embedded-opentype"), url(f/anoeyfuturamerlincom2.61.woff) format("woff"), url(f/anoeyfuturamerlincom2.61.ttf) format("truetype"), url(f/anoeyfuturamerlincom2.61.svg#anoeyfuturamerlincommedium) format("svg");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'wreatherweb';
    src: url(f/wreathe-r.eot);
    src: url(f/wreathe-r.eot?#iefix) format("embedded-opentype"), url(f/wreathe-r.woff) format("woff"), url(f/wreathe-r.ttf) format("truetype"), url(f/wreathe-r.svg#wreatherweb) format("svg");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'wreatherweb';
    src: url(f/wreathe-b.eot);
    src: url(f/wreathe-b.eot?#iefix) format("embedded-opentype"), url(f/wreathe-b.woff) format("woff"), url(f/wreathe-b.ttf) format("truetype"), url(f/wreathe-b.svg#wreathebold) format("svg");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'wreatherweb';
    src: url(f/wreathe-i.eot);
    src: url(f/wreathe-i.eot?#iefix) format("embedded-opentype"), url(f/wreathe-i.woff) format("woff"), url(f/wreathe-i.ttf) format("truetype"), url(f/wreathe-i.svg#wreatheitalic) format("svg");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'wreatherweb';
    src: url(f/wreathe-bi.eot);
    src: url(f/wreathe-bi.eot?#iefix) format("embedded-opentype"), url(f/wreathe-bi.woff) format("woff"), url(f/wreathe-bi.ttf) format("truetype"), url(f/wreathe-bi.svg#wreathebold_italic) format("svg");
    font-weight: 700;
    font-style: italic;
}
.navigation {
    width: 25%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    overflow-y: auto;
    list-style: none;
    transition: width 0.2s;
    background: #e2daf1;
    box-shadow: .313rem 0 1.688rem -.875rem #FFF;
    -webkit-box-shadow: .313rem 0 1.688rem -.875rem #FFF;
    -moz-box-shadow: .313rem 0 1.688rem -.875rem #FFF;
    -o-box-shadow: .313rem 0 1.688rem -.875rem #FFF;
}
.nav-item {
    width: 100%;
}
.nav-item a {
    display: block;
    padding: .75rem;
    font-family: wreatherweb, serif;
    color: rgba(0, 0, 0, 0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    color: #2a1657;
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.2s, border .2s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.nav-item-inactive:hover {
    color: #c74438;
    border: .095rem solid #87769d;
    transition: color 0.2s, border .2s;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="128" height="128" viewBox="0 0 128 128"><defs><linearGradient id="a"><stop offset="0" stop-color="%23fff" stop-opacity="0"/><stop offset="1" stop-color="%23fff" stop-opacity=".5"/><stop offset="1" stop-color="%23fff" stop-opacity="0"/></linearGradient><radialGradient id="b" cx="64" cy="988.36218" r="64" gradientTransform="translate(-.118 -1978.547) scale(2.00184)" gradientUnits="userSpaceOnUse" fy="988.36218" fx="64" xlink:href="%23a"/></defs><path fill="url(%23b)" d="M0-127.99982h256v256H0z"/></svg>'), url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="128" height="128" viewBox="0 0 128 128"><defs><linearGradient id="a"><stop offset="0" stop-color="%23fff" stop-opacity="0"/><stop offset="1" stop-color="%23fff" stop-opacity=".5"/><stop offset="1" stop-color="%23fff" stop-opacity="0"/></linearGradient><radialGradient id="b" cx="64" cy="988.36218" r="64" gradientTransform="translate(-128.118 -1054.185) scale(2.00184)" gradientUnits="userSpaceOnUse" fy="988.36218" fx="64" xlink:href="%23a"/></defs><path fill="url(%23b)" d="M-128 796.36218h256v256h-256z" transform="translate(0 -924.362)"/></svg>'), url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 128 256"><defs><linearGradient id="a"><stop stop-color="%23f5f6fa" offset="0"/><stop offset=".5" stop-color="%23e3daf0"/><stop stop-color="%23f5f6fa" offset="1"/></linearGradient><linearGradient id="b" x2="256" xlink:href="%23a" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0 1 -.5 0 64 0)"/></defs><path fill="url(%23b)" d="M128 0v256H0V0z"/></svg>'), url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 128 256"><defs><linearGradient id="a"><stop stop-color="%23f5f6fa" offset="0"/><stop offset=".5" stop-color="%23e3daf0"/><stop stop-color="%23f5f6fa" offset="1"/></linearGradient><linearGradient id="b" x2="256" xlink:href="%23a" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0 1 -.5 0 64 0)"/></defs><path fill="url(%23b)" d="M128 0v256H0V0z"/></svg>'), linear-gradient(180deg, rgba(216, 208, 239, 0) 0, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0.44) 50%, rgba(211, 206, 234, 0) 50%, rgba(211, 206, 234, 0) 100%), url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 128 256"><defs><linearGradient id="a"><stop stop-color="%23f5f6fa" offset="0"/><stop offset=".5" stop-color="%23e3daf0"/><stop stop-color="%23f5f6fa" offset="1"/></linearGradient><linearGradient id="b" x2="256" xlink:href="%23a" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0 1 -.5 0 64 0)"/></defs><path fill="url(%23b)" d="M128 0v256H0V0z"/></svg>');
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat, repeat;
    background-position: left top, right top, left top, right top, 50% 50%, 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto 50%, auto 50%, auto auto, auto auto, auto auto, auto auto;
    background-size: auto 50%, auto 50%, auto 100%, auto 100%, auto auto, auto 100%;
}
.nav-item-inactive {
    transition: color 0.2s, border .2s;
    border-left: .095rem solid #fff;
    border-right: .095rem solid #d8d0ef;
    border-top: .095rem solid #fff;
    border-bottom: .095rem solid #d8d0ef;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="128" height="128" viewBox="0 0 128 128"><defs><linearGradient id="a"><stop offset="0" stop-color="%23fff" stop-opacity="0"/><stop offset="1" stop-color="%23fff" stop-opacity=".5"/><stop offset="1" stop-color="%23fff" stop-opacity="0"/></linearGradient><radialGradient id="b" cx="64" cy="988.36218" r="64" gradientTransform="translate(-.118 -1978.547) scale(2.00184)" gradientUnits="userSpaceOnUse" fy="988.36218" fx="64" xlink:href="%23a"/></defs><path fill="url(%23b)" d="M0-127.99982h256v256H0z"/></svg>'), url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="128" height="128" viewBox="0 0 128 128"><defs><linearGradient id="a"><stop offset="0" stop-color="%23fff" stop-opacity="0"/><stop offset="1" stop-color="%23fff" stop-opacity=".5"/><stop offset="1" stop-color="%23fff" stop-opacity="0"/></linearGradient><radialGradient id="b" cx="64" cy="988.36218" r="64" gradientTransform="translate(-128.118 -1054.185) scale(2.00184)" gradientUnits="userSpaceOnUse" fy="988.36218" fx="64" xlink:href="%23a"/></defs><path fill="url(%23b)" d="M-128 796.36218h256v256h-256z" transform="translate(0 -924.362)"/></svg>'), url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 128 256"><defs><linearGradient id="a"><stop stop-color="%23f5f6fa" offset="0"/><stop offset=".5" stop-color="%23e3daf0"/><stop stop-color="%23f5f6fa" offset="1"/></linearGradient><linearGradient id="b" x2="256" xlink:href="%23a" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0 1 -.5 0 64 0)"/></defs><path fill="url(%23b)" d="M128 0v256H0V0z"/></svg>'), url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 128 256"><defs><linearGradient id="a"><stop stop-color="%23f5f6fa" offset="0"/><stop offset=".5" stop-color="%23e3daf0"/><stop stop-color="%23f5f6fa" offset="1"/></linearGradient><linearGradient id="b" x2="256" xlink:href="%23a" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0 1 -.5 0 64 0)"/></defs><path fill="url(%23b)" d="M128 0v256H0V0z"/></svg>'), linear-gradient(180deg, rgba(216, 208, 239, 0) 0, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0.44) 50%, rgba(211, 206, 234, 0) 50%, rgba(211, 206, 234, 0) 100%), url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 128 256'><defs><linearGradient id='a'><stop stop-color='%23f5f6fa' offset='0'/><stop offset='.5' stop-color='%23e3daf0'/><stop stop-color='%23f5f6fa' offset='1'/></linearGradient><linearGradient id='b' x2='256' xlink:href='%23a' gradientUnits='userSpaceOnUse' gradientTransform='matrix(0 1 -.5 0 64 0)'/></defs><path fill='url(%23b)' d='M128 0v256H0V0z'/></svg>");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat, repeat;
    background-position: left top, right top, left top, right top, 50% 50%, 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto 50%, auto 50%, auto auto, auto auto, auto auto, auto auto;
    background-size: auto 50%, auto 50%, auto 100%, auto 100%, auto auto, auto 100%;
}
.demo {
   transition: color 0.2s, border .2s;
    border-left: .095rem solid #fff;
    border-right: .095rem solid #d8d0ef;
    border-top: .095rem solid #fff;
    border-bottom: .095rem solid #d8d0ef;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(http://enjoycss.com/bg-img/custom/18015-dkvmr8.png), url(http://enjoycss.com/bg-img/custom/18015-16qy4bf.png), url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 128 256"><defs><linearGradient id="a"><stop stop-color="%23f5f6fa" offset="0"/><stop offset=".5" stop-color="%23e3daf0"/><stop stop-color="%23f5f6fa" offset="1"/></linearGradient><linearGradient id="b" x2="256" xlink:href="%23a" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0 1 -.5 0 64 0)"/></defs><path fill="url(%23b)" d="M128 0v256H0V0z"/></svg>'), url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 128 256"><defs><linearGradient id="a"><stop stop-color="%23f5f6fa" offset="0"/><stop offset=".5" stop-color="%23e3daf0"/><stop stop-color="%23f5f6fa" offset="1"/></linearGradient><linearGradient id="b" x2="256" xlink:href="%23a" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0 1 -.5 0 64 0)"/></defs><path fill="url(%23b)" d="M128 0v256H0V0z"/></svg>'), linear-gradient(180deg, rgba(216, 208, 239, 0) 0, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0.44) 50%, rgba(211, 206, 234, 0) 50%, rgba(211, 206, 234, 0) 100%), url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 128 256'><defs><linearGradient id='a'><stop stop-color='%23f5f6fa' offset='0'/><stop offset='.5' stop-color='%23e3daf0'/><stop stop-color='%23f5f6fa' offset='1'/></linearGradient><linearGradient id='b' x2='256' xlink:href='%23a' gradientUnits='userSpaceOnUse' gradientTransform='matrix(0 1 -.5 0 64 0)'/></defs><path fill='url(%23b)' d='M128 0v256H0V0z'/></svg>");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat, repeat;
    background-position: left top, right top, left top, right top, 50% 50%, 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto 50%, auto 50%, auto auto, auto auto, auto auto, auto auto;
    background-size: auto 50%, auto 50%, auto 100%, auto 100%, auto auto, auto 100%;
}
.nav-item-selected,
.nav-item:active {
    box-shadow: inset .668rem .668rem .563rem -.938rem #000;
    -webkit-box-shadow: inset .668rem .668rem .563rem -.938rem #000;
    -moz-box-shadow: inset .668rem .668rem .563rem -.938rem #000;
    -o-box-shadow: inset .668rem .668rem .563rem -.938rem #000;
    transition: color 0.2s, border .2s;
    border: .095rem solid #87769d;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="128" height="128" viewBox="0 0 128 128"><defs><linearGradient id="a"><stop offset="0" stop-color="%23fff" stop-opacity="0"/><stop offset="1" stop-color="%23fff" stop-opacity=".5"/><stop offset="1" stop-color="%23fff" stop-opacity="0"/></linearGradient><radialGradient id="b" cx="64" cy="988.36218" r="64" gradientTransform="translate(-.118 -1978.547) scale(2.00184)" gradientUnits="userSpaceOnUse" fy="988.36218" fx="64" xlink:href="%23a"/></defs><path fill="url(%23b)" d="M0-127.99982h256v256H0z"/></svg>'), url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="128" height="128" viewBox="0 0 128 128"><defs><linearGradient id="a"><stop offset="0" stop-color="%23fff" stop-opacity="0"/><stop offset="1" stop-color="%23fff" stop-opacity=".5"/><stop offset="1" stop-color="%23fff" stop-opacity="0"/></linearGradient><radialGradient id="b" cx="64" cy="988.36218" r="64" gradientTransform="translate(-128.118 -1054.185) scale(2.00184)" gradientUnits="userSpaceOnUse" fy="988.36218" fx="64" xlink:href="%23a"/></defs><path fill="url(%23b)" d="M-128 796.36218h256v256h-256z" transform="translate(0 -924.362)"/></svg>'), url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 128 256"><defs><linearGradient id="a"><stop stop-color="%23d3c5e7" offset="0"/><stop offset=".5" stop-color="%23c1acda"/><stop stop-color="%23d3c5e7" offset="1"/></linearGradient><linearGradient id="b" x2="256" xlink:href="%23a" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0 1 -.5 0 64 0)"/></defs><path fill="url(%23b)" d="M128 0v256H0V0z"/></svg>'), url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 128 256"><defs><linearGradient id="a"><stop stop-color="%23d3c5e7" offset="0"/><stop offset=".5" stop-color="%23c1acda"/><stop stop-color="%23d3c5e7" offset="1"/></linearGradient><linearGradient id="b" x2="256" xlink:href="%23a" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0 1 -.5 0 64 0)"/></defs><path fill="url(%23b)" d="M128 0v256H0V0z"/></svg>'), linear-gradient(180deg, rgba(216, 208, 239, 0) 0, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0.44) 50%, rgba(211, 206, 234, 0) 50%, rgba(211, 206, 234, 0) 100%), url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 128 256"><defs><linearGradient id="a"><stop stop-color="%23d3c5e7" offset="0"/><stop offset=".5" stop-color="%23c1acda"/><stop stop-color="%23d3c5e7" offset="1"/></linearGradient><linearGradient id="b" x2="256" xlink:href="%23a" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0 1 -.5 0 64 0)"/></defs><path fill="url(%23b)" d="M128 0v256H0V0z"/></svg>');
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat, repeat;
    background-position: left top, right top, left top, right top, 50% 50%, 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto 50%, auto 50%, auto auto, auto auto, auto auto, auto auto;
    background-size: auto 50%, auto 50%, auto 100%, auto 100%, auto auto, auto 100%;
}
.nodecorate {
    text-decoration: none !important;
}
a.logolink{ color:rgb(1,50,32);}
	a.logolink:visited{ color:rgb(1,50,32);}

ul:not(.navigation) {
    list-style-position: inside;
    padding-left: 1rem;
}
.site-wrap {
    min-height: calc(100% - 8rem);
    max-height: 100%;
    background: none;
    position: fixed;
    top: 0;
    bottom: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0rem;
    z-index: 1;
    border: none;
    overflow: auto;
    clip-path: url('#content-clip');
}
.content {
position:absolute;
z-index:1;
left:25%;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
     font-family: wreatherweb;
    font-size: 1.45rem;
    color: #2a1657;
   top:0;
    padding-top:1rem;
    transition: margin 0.2s, top .2s;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom:5rem;
    /* background: rgba(0, 0, 0, 0.2); */
}
.contentbackground {
    min-height: calc(100% - 8rem);
    max-height: 100%;
    background-color: rgba(226, 218, 241, 0.7);
    position: fixed;
    top: 0;
    bottom: 100%;
    right: 0;
    left: 0;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    transition: margin 0.2s, top .2s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0rem;
    transition: margin 0.2s, top .2s;
    z-index: 0;
    border: none;
}
.contentbgborder {
    min-height: calc(100% - 8rem);
    max-height: 100%;
    background: none;
    position: fixed;
    top: 0;
    bottom: 100%;
    right: 0;
    left: 0;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    transition: margin 0.2s, top .2s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0rem;
    transition: margin 0.2s, top .2s;
    z-index: 3;
    border: 0.063em solid white;
    pointer-events:none;
}
.headerbgwrap {
    width: 100%;
    height: 4rem;
    position:fixed;
    z-index:2;
    overflow:hidden;
}
.headerbackground {
    background-image: url(background.svg);
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    background-attachment:fixed;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: cover;
    background-size: cover;    
    width: 100%;
    height: 100vh;
    position:relative;
    z-index:2;
}
.footerbgwrap {
    width: 100%;
    height: 4rem;
    bottom:0;
    position:fixed;
    z-index:2;
    overflow:hidden;
}
.footerbackground {
    background-image: url(background.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment:fixed;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: cover;
    background-size: cover;    
    width: 100%;
    height: 100vh;
    position:absolute;
    top:calc(-1 * (100vh - 4rem));
    z-index:2;
}
.background {
    background-image: url(background.svg);
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: cover;
    background-size: cover;    
    background-attachment:fixed;
    width: 100%;
    height: 100%;
    position:fixed;
}

.nav-trigger {    
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
.logo {
    z-index: 2;
    position: fixed;
    top: .25rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: wreatherweb;
    font-size: 2rem;
}
.logo-inner {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s ease;
    transition-function: left, transform;
}
@media only screen and (max-width: 1100px) and (min-resolution: 192dpi),
not screen and (min-width: 551px) and (max-resolution: 191dpi) {
    /* small screen */
    
    .navigation {
        left: -50%;
        box-shadow: 0 0 0 0 #FFF;
        -webkit-box-shadow: 0 0 0 0 #FFF;
        -moz-box-shadow: 0 0 0 0 #FFF;
        -o-box-shadow: 0 0 0 0 #FFF;
        width:50%;
    }
    .content,
    .contentbackground, .headerbgwrap, .contentbgborder {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        transition: margin 0.2s, top 0.2s, bottom .2s;
        
    }
     .content,
    .contentbackground, .contentbgborder {
        bottom: 0;

    }
    .contentbackground, .contentbgborder {
        margin-top: 0;
     top: 4rem;
   }
    .footerbgwrap, .footerbackground {
    display:none;
    }
    .content {
  left:0;
/*       margin-top: 4rem; */
    }
    label[for="nav-trigger"] {
        /* critical positioning styles */
        
        position: fixed;
        left: 0.938rem;
        top: 0.938rem;
        z-index: 3;
        /* non-critical apperance styles */
        
        height: 1.875rem;
        width: 1.875rem;
        cursor: pointer;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' xml:space='preserve'><rect style='fill:rgb(1,50,32);' width='30' height='6'/><rect style='fill:rgb(1,50,32);' y='24' width='30' height='6'/><rect style='fill:rgb(1,50,32);' y='12' width='30' height='6'/></svg>");
        background-size: contain;
    }
    /* Make the Magic Happen */
    
    .nav-trigger + label,
    .navigation {
        transition: left 0.2s, box-shadow 0.2s, width 0.2s;
    }
    .background,
    .logo {
        transition: font-size 0.2s, left 0.2s, box-shadow 0.2s;
    }
    .nav-trigger:checked + label {
        left: calc(50% + 1rem);
    }
    
    .nav-trigger:checked ~ .logo {
        transition: font-size 0.2s, box-shadow 0.2s;
        
    }
            .nav-trigger:checked ~ .logo > .logo-inner {
left: calc(100%);
        transform: translateX(calc(-100% - 1rem));
font-size: 1.2rem;
        transition: font-size 0.2s, box-shadow 0.2s;}
    .nav-trigger:checked ~ .navigation {
        transition: font-size 0.2s, left 0.2s;
        left: 0%;
        box-shadow: 0.313rem 0 1.688rem -0.875rem #FFFFFF;
        -webkit-box-shadow: 0.313rem 0 1.688rem -0.875rem #FFFFFF;
        -moz-box-shadow: 0.313rem 0 1.688rem -0.875rem #FFFFFF;
        -o-box-shadow: 0.313rem 0 1.688rem -0.875rem #FFFFFF;
    }
}
@media only screen and (max-width: 640px) and (min-resolution: 192dpi),
not screen and (min-width: 321px) and (max-resolution: 191dpi) {
    /* really small screen */
    
    .logo {
        font-size: 1.2rem;
        transition: font-size 0.2s, left 0.2s, box-shadow 0.2s;
    }
	
    .logo-inner {
        left: calc(100%);
        transform: translateX(calc(-100% - 1rem));
    }
    .nav-trigger:checked + label {
        left: calc(75% + 1rem);
    }
    .nav-trigger:checked ~ .navigation {
        transition: font-size 0.2s, left 0.2s, width 0.2s;
        left: 0%;
        box-shadow: 0.313rem 0 1.688rem -0.875rem #FFFFFF;
        -webkit-box-shadow: 0.313rem 0 1.688rem -0.875rem #FFFFFF;
        -moz-box-shadow: 0.313rem 0 1.688rem -0.875rem #FFFFFF;
        -o-box-shadow: 0.313rem 0 1.688rem -0.875rem #FFFFFF;
        width: 75%;
    }
}
@media only screen and (min-width: 1101px) and (min-resolution: 192dpi),
not screen and (max-width: 550px) and (max-resolution: 191dpi) {
    /* Large screen */
    /* TODO: fix this. It seems to match zoomed-in screen. */
    
    label[for="nav-trigger"] {
        display: none;
    }
    .navigation {
        left: 0;
        box-shadow: .313rem 0 1.688rem -.875rem #FFF;
        -webkit-box-shadow: .313rem 0 1.688rem -.875rem #FFF;
        -moz-box-shadow: .313rem 0 1.688rem -.875rem #FFF;
        -o-box-shadow: .313rem 0 1.688rem -.875rem #FFF;
    }
    .site-wrap,
    .content,
    .contentbackground, .contentbgborder {
        left: 25%;
    }
    .content {
left:25%;
/*         margin-top: 4rem; */
    }
    .logo,
    .background, .headerbgwrap, .footerbgwrap {
        transition: font-size 0.2s, left 0.2s, width .2s;
        left: 25%;
        width: 75%;
    }
    .logo, .background {
            position: fixed;
    }
}

h1,
h3,
p {
    max-width: 37.5rem;
    margin: 0 auto 1rem;
}
code {
    padding: .125rem;
    background: #ddd;
}
/* Micro reset */

*,
:before,
:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
    width: 100%;
    font-family: Lato, sans-serif;
}