
@font-face{font-family:'anoeyfuturamerlincommedium';src:url('f/anoeyfuturamerlincom2.61.eot');src:url('f/anoeyfuturamerlincom2.61.eot?#iefix') format('embedded-opentype'),url('f/anoeyfuturamerlincom2.61.woff') format('woff'),url('f/anoeyfuturamerlincom2.61.ttf') format('truetype'),url('f/anoeyfuturamerlincom2.61.svg#anoeyfuturamerlincommedium') format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'wreatherweb';src:url('f/wreathe-r.eot');src:url('f/wreathe-r.eot?#iefix') format('embedded-opentype'),url('f/wreathe-r.woff') format('woff'),url('f/wreathe-r.ttf') format('truetype'),url('f/wreathe-r.svg#wreatherweb') format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'wreatherweb';src:url('f/wreathe-b.eot');src:url('f/wreathe-b.eot?#iefix') format('embedded-opentype'),url('f/wreathe-b.woff') format('woff'),url('f/wreathe-b.ttf') format('truetype'),url('f/wreathe-b.svg#wreathebold') format('svg');font-weight:bold;font-style:normal}@font-face{font-family:'wreatherweb';src:url('f/wreathe-i.eot');src:url('f/wreathe-i.eot?#iefix') format('embedded-opentype'),url('f/wreathe-i.woff') format('woff'),url('f/wreathe-i.ttf') format('truetype'),url('f/wreathe-i.svg#wreatheitalic') format('svg');font-weight:normal;font-style:italic}@font-face{font-family:'wreatherweb';src:url('f/wreathe-bi.eot');src:url('f/wreathe-bi.eot?#iefix') format('embedded-opentype'),url('f/wreathe-bi.woff') format('woff'),url('f/wreathe-bi.ttf') format('truetype'),url('f/wreathe-bi.svg#wreathebold_italic') format('svg');font-weight:bold;font-style:italic}
/* 
    html, body, div, span {
        margin:0;
        padding:0;
        font-size:100%;
        background:transparent;
        line-height:1;
    }

html {
        	height: 100% !important;
}
body{
    background: #d5e3cf;
        	height: 100% !important;
}

a {
color: #22520f !important;
}
a:hover {
color: #520f22 !important;
transition: color 0.5s ease !important;
}

header .logo{
margin: 2rem 0 0 2rem;
display: inline-block;
}

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
 
.clearfix {  
    *zoom: 1;  
}



@media (min-width:1000px){
    header{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 18rem;
        min-height: 100%;
        background: #d5e3cf; 
    background:-webkit-gradient(radial,0 0,0,50% 0,300,from(#FFF),to(#d5e3cf));
    background:-moz-radial-gradient(0 0 90deg,circle farthest-side,#FFF,#d5e3cf,#d5e3cf 31.25em);
    background-repeat:no-repeat;
        float: left;
        overflow: hidden;
        z-index: 9999;
    }

}
 */





/*  Main  */
/* 
.main{
    width: 100%;
    max-width: 62em;
    height: 100%;
    padding-left: 300px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 55;
    background: #d5e3cf;
    clear: both;
}









.content{
    color: #4b4848;
    max-width: 55em;
    font-family: "times", times;
    font-size: 15px;
    line-height: 22px;
    padding: 1rem 2rem;
    background: #fff;
	height: 100% !important;
    box-sizing: border-box;
}




 */


/*  Responsive code  
@media (max-width:1100px){

    header{
        display: block;
        width: 100%;
        min-height: 100px;
        padding: 0;
        position: relative;
        background: #d5e3cf; 
    background:-webkit-gradient(radial,0 0,0,50% 0,300,from(#FFF),to(#d5e3cf));
    background:-moz-radial-gradient(0 0 90deg,circle farthest-side,#FFF,#d5e3cf,#d5e3cf 31.25em);
    background-repeat:no-repeat;
    }
    header nav ul{
        list-style: none;
        display: none;
        margin-top: 1rem;
        position: relative;
    }
    header nav ul li a{
        display: block;
        width: 100%;
        padding: 1rem 0;
        text-align: center;
        color: #454545;
        font-size: 0.5rem;
        text-decoration: none;
        background: #fff;
    }
    .main{
        width: 100%;
        position: relative;
        padding-left: 0;
    }
}

*/
/* Navigation Menu - Background */
.navigation {
  /* critical sizing and position styles */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  
  /* non-critical appearance styles */
  list-style: none;
  background: rgb(226, 218, 241);
}

/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  width: 200px;
}

.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 0.75em;

  font-family: wreatherweb, serif;
  color: rgba(0,0,0,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  color: rgb(42, 22, 87);
  font-size: 1.2rem;
  text-decoration: none;
  transition: color 0.2s, border 0.2s;
 -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-item-inactive:hover {
  color: #c74438;
  border: 0.095rem solid rgb(135, 118, 157);
  transition: color 0.2s, border 0.2s;
  background: url("http://enjoycss.com/bg-img/custom/18015-dkvmr8.png"),
   url("http://enjoycss.com/bg-img/custom/18015-16qy4bf.png"),
    url('button-background-gradient-inactive.svg'),
    url('button-background-gradient-inactive.svg'),
    linear-gradient(180deg, rgba(216,208,239,0) 0, rgba(255,255,255,0.1) 10%, rgba(255,255,255,0.44) 50%, rgba(211,206,234,0) 50%, rgba(211,206,234,0) 100%),
    url('button-background-gradient-inactive.svg');
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat, repeat;
  background-position: left top, right top, left top, right top, 50% 50%, 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto 50%, auto 50%, auto auto, auto auto, auto auto, auto auto;
  background-size: auto 50%, auto 50%, auto 100%, auto 100%, auto auto, auto 100%;
}

.nav-item-inactive {
  transition: color 0.2s, border 0.2s;
   border-left: 0.095rem solid white;
   border-right: 0.095rem solid rgb(216,208,239);

   border-top: 0.095rem solid white;
   border-bottom: 0.095rem solid rgb(216,208,239);
 -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 background: url("http://enjoycss.com/bg-img/custom/18015-dkvmr8.png"),
   url("http://enjoycss.com/bg-img/custom/18015-16qy4bf.png"),
    url('button-background-gradient-inactive.svg'),
    url('button-background-gradient-inactive.svg'),
    linear-gradient(180deg, rgba(216,208,239,0) 0, rgba(255,255,255,0.1) 10%, rgba(255,255,255,0.44) 50%, rgba(211,206,234,0) 50%, rgba(211,206,234,0) 100%),
    url('button-background-gradient-inactive.svg');
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat, repeat;
  background-position: left top, right top, left top, right top, 50% 50%, 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto 50%, auto 50%, auto auto, auto auto, auto auto, auto auto;
  background-size: auto 50%, auto 50%, auto 100%, auto 100%, auto auto, auto 100%;

}
.nav-item-selected, .nav-item:active {
box-shadow: inset 11px 11px 9px -15px #000000;
-webkit-box-shadow: inset 11px 11px 9px -15px #000000;
-moz-box-shadow: inset 11px 11px 9px -15px #000000;
-o-box-shadow: inset 11px 11px 9px -15px #000000;
  transition: color 0.2s, border 0.2s;
  border: 0.095rem solid rgb(135, 118, 157);
  background: url("http://enjoycss.com/bg-img/custom/18015-dkvmr8.png"),
   url("http://enjoycss.com/bg-img/custom/18015-16qy4bf.png"),
    url('button-background-gradient-selected.svg'),
    url('button-background-gradient-selected.svg'),
    linear-gradient(180deg, rgba(216,208,239,0) 0, rgba(255,255,255,0.1) 10%, rgba(255,255,255,0.44) 50%, rgba(211,206,234,0) 50%, rgba(211,206,234,0) 100%),
    url('button-background-gradient-selected.svg');
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat, repeat;
  background-position: left top, right top, left top, right top, 50% 50%, 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto 50%, auto 50%, auto auto, auto auto, auto auto, auto auto;
  background-size: auto 50%, auto 50%, auto 100%, auto 100%, auto auto, auto 100%;

}

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  background-color: white; /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  
  /* non-critical apperance styles */
  padding: 4em;
 background: -webkit-radial-gradient(circle farthest-corner, rgba(255,255,255,0.5) 0, rgba(255,50,162,0) 69%, rgba(255,0,132,0) 100%), -webkit-linear-gradient(10deg, rgba(255,255,255,0) 0, rgba(255,255,255,0.2) 46%, rgba(255,255,255,0.31) 67%, rgba(255,255,255,0.2) 68%, rgba(255,255,255,0) 80%, rgba(255,255,255,0) 100%), -webkit-linear-gradient(1deg, rgba(255,255,255,0) 0, rgba(193,170,247,0.13) 58%, rgba(255,255,255,0) 97%, rgba(255,255,255,0) 100%), rgba(171,216,242,1);
  background: -moz-radial-gradient(circle farthest-corner, rgba(255,255,255,0.5) 0, rgba(255,50,162,0) 69%, rgba(255,0,132,0) 100%), -moz-linear-gradient(80deg, rgba(255,255,255,0) 0, rgba(255,255,255,0.2) 46%, rgba(255,255,255,0.31) 67%, rgba(255,255,255,0.2) 68%, rgba(255,255,255,0) 80%, rgba(255,255,255,0) 100%), -moz-linear-gradient(89deg, rgba(255,255,255,0) 0, rgba(193,170,247,0.13) 58%, rgba(255,255,255,0) 97%, rgba(255,255,255,0) 100%), rgba(171,216,242,1);
  background: radial-gradient(circle farthest-corner, rgba(255,255,255,0.5) 0, rgba(255,50,162,0) 69%, rgba(255,0,132,0) 100%), linear-gradient(80deg, rgba(255,255,255,0) 0, rgba(255,255,255,0.2) 46%, rgba(255,255,255,0.31) 67%, rgba(255,255,255,0.2) 68%, rgba(255,255,255,0) 80%, rgba(255,255,255,0) 100%), linear-gradient(89deg, rgba(255,255,255,0) 0, rgba(193,170,247,0.13) 58%, rgba(255,255,255,0) 97%, rgba(255,255,255,0) 100%), rgba(171,216,242,1);
  background-repeat: no-repeat, repeat, repeat;
  background-position: 50% -100vh, 50% 50%, 50% 50%;
  -webkit-background-origin: border-box, padding-box, padding-box;
  background-origin: border-box, padding-box, padding-box;
  -webkit-background-clip: border-box, border-box, border-box;
  background-clip: border-box, border-box, border-box;
  -webkit-background-size: auto auto, auto auto, 1em auto;
  background-size: auto 200%, auto auto, 1em auto;
  
  
box-shadow: inset 11px -6px 9px -15px rgb(42, 22, 87);
-webkit-box-shadow: inset 11px -6px 9px -15px rgb(42, 22, 87);
-moz-box-shadow: inset 11px -6px 9px -15px rgb(42, 22, 87);
-o-box-shadow: inset 11px -6px 9px -15px rgb(42, 22, 87);
}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

@media
only screen and (max-width:2200px) and (min-resolution: 192dpi),
not screen and (min-width:1101px) and (max-resolution: 191dpi) {
    /* small screen */
    
		label[for="nav-trigger"] {
		  /* critical positioning styles */
		  position: fixed;
		  left: 15px; top: 15px;
		  z-index: 2;
  
		  /* non-critical apperance styles */
		  height: 30px;
		  width: 30px;
		  cursor: pointer;
		  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
		  background-size: contain;
		}
		/* Make the Magic Happen */
		.nav-trigger + label, .site-wrap {
		  transition: left 0.2s;
		}

		.nav-trigger:checked + label {
		  left: 215px;
		}

		.nav-trigger:checked ~ .site-wrap {
		  left: 200px;
		}
}

@media
only screen and (min-width:2201px) and (min-resolution: 192dpi),
not screen and  (max-width:1100px) and (max-resolution: 191dpi) {
    /* Large screen */
    
		label[for="nav-trigger"] {
		  display:none;
		}
		.site-wrap {
		  left: 200px;
		}
}

body {
	/* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}

/* Additional non-critical styles */

h1, h3, p {
  max-width: 600px;
  margin: 0 auto 1em;
}

code {
	padding: 2px;
	background: #ddd;
}

/* Micro reset */
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
html, body { height: 100%; width: 100%; font-family: Lato, sans-serif; }