/* To do: Fix zoomed-in media query bug. Fix buttons not showing the highlights correctly. Finish the content. Make the pages. Then I’ll be done! :D */


div.musicthumbcontainer {
	display:table-cell;
	vertical-align:top;
	width: 10.375rem;
	z-index: 110;
	margin-right:1rem;
	margin-top:1rem;
}

div.musicbig {
	display: none;
	right: 0;
	margin-top:1rem;
}
div.table-columns {
	display:table;
	vertical-align:top;
}
#secondary {

}
table {
	table-layout:fixed;
	width:100%;
}
img.musicthumb {
	width:9.375rem;


	box-shadow: 0 0 0.5rem 0 rgba(255, 255, 255, 1);
	cursor: pointer;
	box-sizing:content-box;
}

img.musicthumb:hover {
	border-left: 0.188rem #FFF solid;
}
audio {
	display:block;
	margin:0.667rem;
}
span.inlineheader
{
	font-weight:bold;
}
span.anoeyfuturamerlincommedium
{
	font-family:anoeyfuturamerlincommedium;
}
span.song-title
{
	font-style:italic;
}
p.big
{
	font-size:2rem;
}
p.big-address
{
	text-align:center;
}
p.big-space-below
{
	padding-bottom:2rem;
}
h1
{
	font-weight:bold;
	font-size:2rem;
	position:relative;
	padding:1rem;
}
h1.title
{
	top:-1rem;
	left:-1rem;


	background: linear-gradient(90deg, rgba(199,130,229,1) 0, rgba(199,130,229,1) 1%, rgba(162,130,229,0.9) 15%, rgba(129,145,226,0.78) 23%, rgba(129,134,226,0.66) 34%, rgba(142,129,226,0.44) 47%, rgba(130,152,229,0.34) 59%, rgba(0,150,255,0) 100%);
}
figure img
{
	width: 100%;
}
figure.thumbnail-right
{
	float:right;
	margin-left: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-right: 0rem;
	width: 10.375rem;
	padding: 0.5rem;
	border: .095rem solid #ddd;
	position:relative;
	transition: width .2s, margin .2s, left .2s;
}
figure.thumbnail-right > figcaption
{
	font-size:1rem;
}
figure.thumbnail-right > figcaption::after
{
	content:"\aTap image to view.";
	top:0.25rem;
	left:0.5rem;
	position:relative;
	margin-right:0.5rem;
	white-space:pre;
	color:rgba(42,22,87,0.7);
}
figure.thumbnail-top
{
	margin-top: 0;
}
ul
{
    padding-left: 1rem;
    margin-top: 0.5rem;
    list-style-position: inside;

    counter-reset: indentation;
    display: table;
}
ul > li
{
	counter-increment: indentation;
	display: table-row;
}
ul > li::before
{
	content: "•";
	padding-right: 1rem;
	display: table-cell;
	text-align: right;
	position:relative;
}
ul.navigation
{
    padding-left: 0;
    margin-top: 0;
    list-style:none;
        display: block;
}
ul.navigation > li
{
    	display: block;
}
ul.navigation > li::before
{
			display: block;
		}
ul.space-below {
	padding-bottom: 1rem;
}
ul.no-bullets {
	list-style:none;
}
ul.no-bullets > li::before {
	list-style:none;
			display: block;
		}
ul.bold-1st-level > li {
	font-weight:bold;
}
ul.bold-1st-level > li > ul {
	font-weight:normal;
}
ul.hanging-indented > li {
	padding-left:1rem;
	text-indent:-1rem;
}
.centered
{
	text-align:center;
}

@font-face
{
    font-family: 'anoeyfuturamerlincommedium';
    font-weight: 400;
    font-style: normal;

    src: url(f/anoeyfuturamerlincom2.61.eot);

}
@font-face
{
    font-family: 'wreatherweb';
    font-weight: 400;
    font-style: normal;

    src: url(f/wreathe-r.eot);

}
@font-face
{
    font-family: 'wreatherweb';
    font-weight: 700;
    font-style: normal;

    src: url(f/wreathe-b.eot);

}
@font-face
{
    font-family: 'wreatherweb';
    font-weight: 400;
    font-style: italic;

    src: url(f/wreathe-i.eot);

}
@font-face
{
    font-family: 'wreatherweb';
    font-weight: 700;
    font-style: italic;

    src: url(f/wreathe-bi.eot);

}
.navigation
{
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow-y: auto;

    width: 25%;
    height: 100%;

/*     list-style: none; */

    transition: left .2s;

    border-right: 0.063rem solid white;
    background: #e2daf1;


            box-shadow: .250rem 0 .250rem -.16rem #fff;


}
.nav-item
{
    width: 100%;
}
.nav-item a
{
    font-family: wreatherweb, serif;
    font-size: 1.2rem;

    display: block;



            box-sizing: border-box;
    padding: .75rem;

    transition: color .2s, border .2s;
    text-decoration: none;


    color: rgba(0, 0, 0, .9);
    color: #2a1657;


}
.nav-item-inactive:hover,
.nav-item-inactive:active
{
    transition: color .2s, border .2s;

    color: #c74438;
    border-top: .095rem solid #87769d;
    border-bottom: .095rem solid #87769d;

    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat, repeat;
    background-position: left top, right top, left top, right top, 50% 50%, 50% 50%;

            background-clip: border-box;


            background-size: auto 50%, auto 50%, auto 100%, auto 100%, auto auto, auto 100%;


}
.nav-item-inactive:active::before,
.nav-item-inactive::before
{
    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 100%;
    height: 100%;

    content: ' ';
    transition: color .2s, background .2s, border .2s;

    border-right: .095rem solid transparent;
    border-left: .095rem solid transparent;
    background: none;
}
.nav-item-inactive:active::before,
.nav-item-inactive:hover:active::before,
.nav-item-inactive:hover::before
{
    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 100%;
    height: 100%;

    content: ' ';
    transition: color .2s, background .2s, border .2s;

    border-right: .095rem solid #87769d;
    border-left: .095rem solid #87769d;
    background: none;
}
.nav-item
{
    margin-bottom: .095rem;
}
.nav-item-inactive
{
    position: relative;

    display: inline-block;



            box-sizing: border-box;

    transition: color .2s, border .2s;

    border-top: .095rem solid transparent;
    border-bottom: .095rem solid transparent;

    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat, repeat;
    background-position: left top, right top, left top, right top, 50% 50%, 50% 50%;

            background-clip: border-box;


            background-size: auto 50%, auto 50%, auto 100%, auto 100%, auto auto, auto 100%;


}
.demo
{


            box-sizing: border-box;

    transition: color .2s, border .2s;


    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat, repeat;
    background-position: left top, right top, left top, right top, 50% 50%, 50% 50%;

            background-clip: border-box;


            background-size: auto 50%, auto 50%, auto 100%, auto 100%, auto auto, auto 100%;


}
.nav-item-selected
{
    border: .095rem solid #87769d;


            box-shadow: inset .668rem .668rem .563rem -.938rem #000;


}
.nav-item:active
{


            box-shadow: inset .668rem .668rem .563rem -.938rem #000;


}
.nav-item-selected
{
    transition: color .2s, border .2s;
}
.nav-item-selected,
.nav-item:active
{

    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat, repeat;
    background-position: left top, right top, left top, right top, 50% 50%, 50% 50%;

            background-clip: border-box;


            background-size: auto 50%, auto 50%, auto 100%, auto 100%, auto auto, auto 100%;


}
.nodecorate
{
    text-decoration: none !important;
}
a.logolink
{
    color: rgb(1, 50, 32);
}
a.logolink:visited
{
    color: rgb(1, 50, 32);
}
.site-wrap
{
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 100%;
    bottom: 0;
    left: 0;

    overflow: auto;

    min-height: 100%;
    max-height: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;

    border: none;
    background: none;
}
.content
{
    font-family: wreatherweb;
    font-size: 1.45rem;

    position: absolute;
    z-index: 1;
    top: 0;
    left: 25%;

    margin-top: 4rem;
    margin-right: 4rem;
    margin-bottom: 4rem;
    margin-left: 4rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 7rem;
    padding-left: 1rem;

    transition: margin .2s, top .2s;

    color: #2a1657;
}
.contentbackground
{
    position: fixed;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 100%;
    left: 0;



            box-sizing: border-box;
    min-height: 100%;
    max-height: 100%;
    margin-top: 4rem;
    margin-right: 4rem;
    margin-bottom: 4rem;
    margin-left: 4rem;
    padding: 0;

    transition: margin .2s, top .2s, bottom .2s, height .2s;

    border: none;
    background-color: rgba(226, 218, 241, .7);
}
.contentbgborder
{
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 100%;
    left: 0;



            box-sizing: border-box;
    min-height: 100%;
    max-height: 100%;
    margin-top: 4rem;
    margin-right: 4rem;
    margin-bottom: 4rem;
    margin-left: 4rem;
    padding: 0;

    transition: margin .2s, top .2s, bottom .2s, height .2s;

    border: .063rem solid white;
    background: none;
}
.headerbgwrap
{
    position: fixed;
    z-index: 2;

    overflow: hidden;

    width: 100%;
    height: 4rem;
}
.clearfloat {
	clear:both;
}
.headerbackground
{
    position: relative;
    z-index: 2;

    width: 100%;
    height: 100vh;

    background-image: url(b.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;

            background-clip: border-box;


            background-size: cover;


}
.footerbgwrap
{
    position: fixed;
    z-index: 2;
    bottom: 0;

    overflow: hidden;

    width: 100%;
    height: 4rem;

    transition: font-size .2s, left .2s, width .2s, opacity .2s;
}
.footerbackground
{
    position: absolute;
    z-index: 2;
    top: 100%;

    width: 100%;
    height: 100vh;

    transition: font-size .2s, left .2s, width .2s, opacity .2s;

    background-image: url(b.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;

            background-clip: border-box;


            background-size: cover;


}
.background
{
    position: fixed;

    width: 100%;
    height: 100%;

    background-image: url(b.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;

            background-clip: border-box;


            background-size: cover;


}
.nav-trigger
{
    position: absolute;

}
.logo
{
    font-family: wreatherweb;
    font-size: 2rem;

    position: fixed;
    z-index: 2;
    top: .25rem;

    display: flex;
    flex-direction: row;

    width: 100%;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.logo-inner
{
    position: absolute;
    left: 50%;

    transition: 1s ease;
}
@media only screen and (max-width: 1100px) and (min-resolution: 192dpi),
not screen and (min-width: 551px) and (max-resolution: 191dpi)
{
    /* small screen */

    .navigation
    {
        left: -25%;

        width: 25%;



                box-shadow: 0 0 0 0 #fff;


    }
    .content,
    .contentbackground,
    .headerbgwrap,
    .contentbgborder
    {
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;

        transition: margin .2s, top .2s, bottom .2s;
    }
    .content,
    .contentbackground,
    .contentbgborder
    {
        bottom: 0;
    }
    .contentbackground,
    .contentbgborder
    {
        top: 4rem;

        margin-top: 0;
    }
    .footerbgwrap,
    .footerbackground
    {
        bottom: -4rem;

        transition: font-size .2s, left .2s, width .2s, opacity .2s, bottom .2s;
    }
    .content
    {
        left: 0;
    }
    label[for='nav-trigger']
    {
        position: fixed;
        z-index: 3;
        top: .938rem;
        left: .938rem;

        width: 1.875rem;
        height: 1.875rem;

        cursor: pointer;
        transition: left .2s, box-shadow .2s, width .2s, opacity .2s;

        opacity: 1;

        background-size: contain;
    }
    .nav-trigger + label,
    .navigation
    {
        transition: left .2s, box-shadow .2s, width .2s, opacity .2s;
    }
    .background,
    .logo
    {
        transition: font-size .2s, left .2s, box-shadow .2s;
    }
    .nav-trigger:checked + label
    {
        left: 100%;
    }
    .nav-trigger:checked ~ .logo
    {
        transition: font-size .2s, box-shadow .2s;
    }
    .nav-trigger:checked ~ .logo > .logo-inner
    {
        font-size: 1.2rem;

        left: 100%;


        transform: translateX(100%);
    }
    .nav-trigger:checked ~ .navigation
    {
        left: 0;

        width: 50%;

        transition: font-size .2s, left .2s, width .2s;



                box-shadow: .250rem 0 .250rem -.16rem #fff;


    }
}
@media only screen and (max-width: 640px) and (min-resolution: 192dpi),
not screen and (min-width: 321px) and (max-resolution: 191dpi)
{
    /* really small screen */

	figure.thumbnail-right
	{
		margin: 1rem;
		left: 0.75rem;
		width: 100%;
		padding: 0.5rem;
		border: .095rem solid #ddd;
		transition: width .2s, margin .2s, left .2s;
	}
    .logo
    {
        font-size: 1.2rem;

        transition: font-size .2s, left .2s, box-shadow .2s;
    }
    .logo-inner
    {
        left: 100%;

        transform: translateX(100%);
    }
    .nav-trigger:checked + label
    {
        left: 100%;
    }
    .nav-trigger:checked ~ .navigation
    {
        left: 0;

        width: 75%;

        transition: font-size .2s, left .2s, width .2s;



                box-shadow: .250rem 0 .250rem -.16rem #fff;


    }
}
@media only screen and (min-width: 1101px) and (min-resolution: 192dpi),
not screen and (max-width: 550px) and (max-resolution: 191dpi)
{
    /* Large screen */
    /* TODO: fix this. It seems to match zoomed-in screen. */

    label[for='nav-trigger']
    {
        position: fixed;
        z-index: 3;
        top: .938rem;
        left: .938rem;

        width: 1.875rem;
        height: 1.875rem;

        cursor: pointer;
        transition: left .2s, box-shadow .2s, width .2s, opacity .2s;

        opacity: 0;

        background-size: contain;
    }
    .navigation
    {
        left: 0;



                box-shadow: .250rem 0 .250rem -.16rem #fff;


    }
    .site-wrap,
    .content,
    .contentbackground,
    .contentbgborder
    {
        left: 25%;
    }
    .logo,
    .background,
    .headerbgwrap
    {
        transition: font-size .2s, left .2s, width .2s, opacity .2s;
    }
    .footerbgwrap,
    .footerbackground
    {
        transition: font-size .2s, left .2s, width .2s, opacity .2s, bottom .2s;
    }
    .logo
    {
        left: 25%;

        width: 75%;
    }
    .background,
    .headerbgwrap,
    .footerbgwrap
    {
        left: 0;

        width: 125%;
    }
    .logo,
    .background
    {
        position: fixed;
    }
}
/* 
h1,
h3,
p
{
    max-width: 37.5rem;
/*     margin: 0 auto 1rem; */
/* } */
code
{
    padding: .125rem;

    background: #ddd;
}
*,
:before,
:after
{


            box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body
{
    width: 100%;
    height: 100%;
}
